.left-section {
	flex: 1;
	background-image: url("../../assets/images/form-bg.png"); /* Add your image path */
	background-size: cover;
	background-position: center;
	position: relative;
	color: white;
	padding: 70px 40px 70px 40px;

	@media (min-width: 1024px) {
		padding: 70px 120px 70px 90px;
	}

	.logo {
		@media (max-width: 968px) {
			text-align: center;
		}
	}

	.overlay {
		h1 {
			margin-top: 100px;
			font-family: "Inter";
			font-weight: 800;
			font-size: 60px;
			line-height: 60px;
			letter-spacing: 0%;

			@media (min-width: 1024px) {
				font-size: 120px;
				line-height: 120px;
				margin-top: 135px;
			}
		}

		p {
			font-family: "Inter";
			font-weight: 500;
			font-size: 32px;
			line-height: 38.73px;
			letter-spacing: 0%;
		}
	}
}
