// body {
// 	margin: 0;
// 	padding: 0;
// 	font-family: Arial, sans-serif;
// 	background-color: #f9f9f9;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	min-height: 100vh;
// }

.App {
	width: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	// background-color: #1f3d29;
	// display: flex;
	// max-width: 1200px;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// background-color: #1f3d29;
	// margin: 0 auto;
	min-height: 100dvh;

	.flower-green {
		position: absolute;
		z-index: 10;
		bottom: -174px;
		right: -290px;
		// right: -290px;
	}
}
